<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
	<system.serviceModel>
		<services>
			<service name="BankService.MerchantService">
				<endpoint address="" binding="basicHttpBinding" contract="BankService.IMerchantService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpBinding" scheme="http" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Hata ayıklama sırasında web uygulaması kök dizinine gözatmak için aşağıdaki değeri true yapın.
        Web uygulaması klasörü bilgilerini açığa çıkarmaktan kaçınmak için dağıtımdan önce false yapın.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
